<ion-header>
  <ion-navbar>
    <ion-title>
      Coches
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!(afAuth.authState | async)" ion-button icon-only (click)="login();">
        <ion-icon name="logo-google"></ion-icon>
      </button>
      <button *ngIf="(afAuth.authState | async)" ion-button icon-only (click)="logout();">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let car of cars">
      <ion-item (click)="obtenerDetalle(car.id)">
        <h1>{{car.marca}} {{car.modelo}}</h1>
        <span *ngIf="car.potencia">{{car.potencia}} CV</span>
        <span *ngIf="car.velocidadMaxima">{{car.velocidadMaxima}} km/h</span>
        <p>{{car.fabricacion}}</p>
      </ion-item>
      <ion-item-options side="left">
          <button ion-button color="danger" (click)="deleteCar(car.id)">Borrar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom *ngIf="(afAuth.authState | async)">
    <button ion-fab color = "danger" (click)="addCar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>